<ion-header>
  <ion-toolbar color="sucess">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dados Pessoais</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button routerLink="/login" size="full" color="light">Cadastrar</ion-button>
</ion-content>
