<ion-content>
  <div class="flex-center">
     <ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
</ion-item>

<ion-button routerLink="/recuperarsenha" color="dark" fill="clear" size="full">Esqueceu a senha?</ion-button>
    <ion-button routerLink="/api" color="suceess" size="full">Login</ion-button>
    <ion-button routerLink="/cadastro" color="suceess" size="full">Cadastrar</ion-button>
  </ion-card-content>
</ion-card>
  </div>
</ion-content>