:host {
    display: block;
    height: 100%; 
    overflow-y: auto; 
}

body {
    height: 100vh;
    overflow-y: auto;
}

.container {
    padding: 16px; 
}

.card-filme {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex; 
    flex-direction: column; 
}